---
import { actions } from "astro:actions";
import { ProductList } from "@/components";
import MainLayout from "@/layouts/MainLayout.astro";

const { data, error } = await Astro.callAction(actions.getProducts, {});

if (error) {
  return Astro.redirect("/");
}

const { products } = data;
---
<MainLayout>
  <h1 class="text-3xl text-center my-4">Luxury Cars</h1>
  <ProductList products={products} client:idle />
</MainLayout>
